*.pickle
*.pyc
*.swp
coverage.xml
*.egg-info
.coverage
.coverage.*
doc/build
.tox
/build
/dist
/e_model_packages/sscx2020/output
/tests/output
.eggs
.vscode
.notebooks
.pytest_cache
output
run_recordings_output
release_output
_release_output
.debug
